[color]
    ui = true
    diff = true
    status = true
    branch = true
    interactive = true
[core]
    excludesfile = ~/.gitignore.global
[alias]
    l = log --decorate --graph
    la = log --decorate --graph --all
    ba = branch -a
    ci = commit
    dc = diff --cached
    ca = commit --amend
    fu = submodule foreach 'git checkout master && git pull'
    rc = rebase --continue
    ri = !git fetch && git rebase -i origin/main
    mb = !git fetch && git merge origin/main
    aa = add --all
    cb = !git checkout -b feat-$(uuidgen | tr -d - | head -c8)
    cm = !git checkout main && git pull
    ghs = !git fetch && git push github origin/main:main
    pr = !git push -u origin $(git branch --show-current)
    prune-all = !git remote | xargs -n1 git remote prune && git branch | grep -v main | xargs git branch -D
[branch]
    autosetuprebase = always
[push]
    default = simple
[delta]
	side-by-side = true
[pull]
	rebase = true
[init]
	defaultBranch = main
